#controls{
    text-align: center;
  }
  .btn{
    margin: 10px 5px;
    padding: 15px;
    background-color: #2bcbba;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    font-size: 1.2em;
    width: 120px;
    height: 50px;
  }
  .btn:hover{
    background-color: #26de81;
    cursor: hand;
  }
  .btn:disabled{
    background-color: #2bcbba80;
  }
  #stop{
    background-color: #fc5c65;
  }
  #video{
      position: absolute;
      top: 0;
      left: -800px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 12px solid #a5adb0 ;
    border-radius: 15px;
    outline: none;
    width: 100%;
    height: 400px;
    background-color: black;
  }
  h1{
    color: #2bcbba;
    letter-spacing:-2.5px;
    line-height: 30px;
  }
  .created{
    color: lightgrey;
    letter-spacing: -0.7px;
    font-size: 1em;
    margin-top: 40px;
  }
  .created > a{
    color: #4b7bec;
    text-decoration: none;
  }
